<!--<div class="stud" *ngIf="Student">
  <div class="register-container">
    <p>Student details</p>
    <form [formGroup]="studentForm">
      <input
        class="field"
        formControlName="name"
        value="{{ Student.name }}"
        [(ngModel)]="Student.name"
      />
      <input
        class="field"
        formControlName="surname"
        value="{{ Student.surname }}"
        [(ngModel)]="Student.surname"
      />
      <textarea
        class="address"
        rows="3"
        formControlName="address"
        value="{{ Student.address }}"
        [(ngModel)]="Student.address"
      ></textarea>

      <input
        class="field"
        formControlName="contact"
        value="{{ Student.contact }}"
        [(ngModel)]="Student.contact"
      />
      <input
        class="field"
        name="course"
        formControlName="course"
        value="{{ Student.course }}"
        [(ngModel)]="Student.course"
      />
      <button class="remove" (click)="DeleteStu()">Remove student</button>
      <button class="update" (click)="UpdateStu(Student)">
        Update student
      </button>
    </form>
  </div>
</div>
<div class="stud" *ngIf="Student">
  <ul>
    <li>{{ Student.name }}</li>
    <li>{{ Student.surname }}</li>
  </ul>
</div>-->
<div class="stud" *ngIf="Student">
  <div class="register-container">
    <p>Student details</p>
    <form (ngSubmit)="AddUsers(UserData)" #UserData="ngForm">
      <input
        value="{{ Student.name }}"
        [(ngModel)]="Student.name"
        class="field"
        name="name"
        ngModel
        #name="ngModel"
        ngModel
        required
      />

      <input
        value="{{ Student.surname }}"
        [(ngModel)]="Student.surname"
        class="field"
        name="surname"
        ngModel
        #surname="ngModel"
        ngModel
        required
      />

      <textarea
        value="{{ Student.address }}"
        [(ngModel)]="Student.address"
        class="address"
        id="exampleFormControlTextarea1"
        rows="3"
        name="address"
        ngModel
        #address="ngModel"
        ngModel
        required
      ></textarea>

      <input
        value="{{ Student.contact }}"
        [(ngModel)]="Student.contact"
        class="field"
        name="contact"
        ngModel
        #contact="ngModel"
        ngModel
        required
      />
      <input
        value="{{ Student.course }}"
        [(ngModel)]="Student.course"
        class="field"
        name="course"
        ngModel
        #course="ngModel"
        ngModel
        required
      />
      <button class="remove" (click)="DeleteStu()">Remove student</button>
      <button class="update" type="submit">Update student</button>
    </form>
  </div>
</div>
